* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(138, 138, 138);
    color: rgb(11, 11, 11);
    padding: 4px;
    margin: 4px;
    font-size: 16px;
}

.hero-section {
    text-align: center;
    background-color: rgb(86, 85, 85);
    border: 2px;
    outline: 2px;
    margin: 2px;
    padding: 2px;
    font-size: 26px;
    height: 20vh;
    width: 100%;
}

.about-section {
    text-align: center;
    justify-content: center;
    color: rgb(34, 35, 32);
    font-size: 18px;
    margin: 2px;
    padding: 2px;
}

.featured-posts-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(105px, 1 fr));
    gap: 10px;
    text-align: center;
    align-items: center;
}

#medium-posts {
    display: grid;
    grid-template-columns: repeat(auto=fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.post:hover {
    transform: translateY(-5px);
}

.post-thumbnail {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.post-content {
    padding: 15px;
}
h3 a {
    color: #333;
    text-decoration: none;
}

h3 a:hover {
    color: #0077b6;
}

.date {
    font-size: 14px;
    color: #668;
    margin-bottom: 10px;
}
.post h3 {
    margin: 0;
}

.featured-posts-img {
    color: chocolate;
}

img {
    height: 100px;
    border: 1px solid limegreen;
    border-radius: 20px;
    padding-left: 5px;
    width: 120px;
    object-fit: cover;
}

.featured-posts-img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.cta-section {
    text-align: center;
    justify-content: center;
    display: block;
    font-size: 22px;
    padding: 10px;
    margin: 10px;
    gap: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: yellow;
}

#cta-btn {
    background-color: black;
    color: yellow;
    font-size: 14px;
    height: 40px;
    width: 75px;
}

#cta-btn a {
    color: yellow;
}

#cta-btn a:hover {
    background-color: darkcyan;
}
.socials-section {
    display: block;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 0 5px;
    margin: 2px;
}